form {
    padding: 15px 0;
}

form .search {
    border: none;

    background-color: bisque;
    padding: 10px 15px;
    border-radius: 10px;

    width: 200px;
}

form .submit {
    border: none;

    background-color: bisque;
    padding: 10px 20px;
    border-radius: 10px;

    margin: 0 10px;
}

form .submit:hover {
    cursor: pointer;
}